:root {
  /* Core Colors */
  --zen-stone-gray: #a9b0a8;
  --zen-bamboo-green: #a3b18a;
  --zen-sand-beige: #e5dcc3;
  --zen-moss-green: #6b8e23;
  --zen-raked-white: #f9f7f1;
  --zen-charcoal-slate: #444b47;
  --primary: #11998e;
  --secondary: #38ef7d;
  --white: #ffffff;
  --gray: #9b9b9b;

  /* Accent Colors */
  --zen-cherry-blossom: #f9cad0;
  --zen-lotus-purple: #b49fcc;
}

/* Global Styles */
body {
  margin: 0 auto;
  text-align: center;
  background-color: var(--zen-sand-beige);
  color: var(--zen-charcoal-slate);
  justify-content: center;
  font-family: "Manrope", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Zen Maru Gothic", sans-serif;
}

button{
  background-color: var(--zen-charcoal-slate);
  border-radius: 0.25em;
  line-height: 0;
  padding: 0.2em;
}


.button {
  background-color: var(--zen-bamboo-green);
  color: var(--zen-raked-white);
}

.button:hover {
  background-color: var(--zen-moss-green);
}

/* TaskInput Styling */

/* Form Styling */
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-block: 1rem;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid var(--gray);
  outline: 0;
  font-size: 1.3rem;
  color: var(--zen-charcoal-slate);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 0.8rem;
  color: var(--gray);
}

/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

/* Buttons */

/* CSS */
.btn {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:hover {
  background-color: #fff;
}

.btn:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .btn {
    min-width: 120px;
    padding: 0 25px;
  }
}


/* Task List CSS */
/* .task-list-wrapper{
  di
} */
ul.task-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0;
}

li.task-list-item{
  
display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 0.5em;
      border-bottom: 1px solid var(--gray);
}

.task-boolean {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.btn.task-complete{
  border-radius: 100%;
  box-shadow: none;
}

.btn.task-complete {
    box-shadow: none;
    min-width: 20px;
    height: 20px;
    padding: 0;
    align-items: center;
}

/* Action Icons */
.action-buttons{
  display: flex;
  gap: 0.4rem;
}
.icon-action{
  fill: var(--zen-sand-beige);
  font-size: 1.3rem
}

.completed{
  background-color: var(--primary);
}